body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {

    margin: 0 auto;
    padding: 0 20px; /* Dodano padding, aby zachować odstęp od krawędzi kontenera */
}

section {
    padding: 20px;
    max-width: 100%; /* Responsywność - sekcja będzie zajmować 100% szerokości przy małych ekranach */
    box-sizing: border-box; /* Dodano box-sizing, aby padding nie zwiększał szerokości sekcji */
    margin: 0 auto; /* Centrowanie sekcji na szerokich ekranach */
}

nav ul li {
    background-color: inherit;
}

nav ul li:hover {
    background-color: inherit;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button a {
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}

button a:hover {
    color: #070707;
    text-decoration: none;
}

table {
    max-width: 100%;
    display: block;
    margin-top: 20px;
    border-collapse: collapse;
    overflow-x: auto; /* Dodano obsługę poziomego przewijania dla wszystkich tabel */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
}

li:hover {
    background-color: #839fe0;
}

li a {
    display: block;
    color: #1c4b83;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: white;
}

canvas {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    align-self: center;
}

#myChart {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.answersForVote {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto; /* Dodano obsługę poziomego przewijania dla małych ekranów */
}

.answersForVote th, .answersForVote td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f5f5f5;
}

.answersForVote th {
    background-color: #007bff;
    color: #fff;
}

.table-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.vote-details {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.vote-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.vote-details p {
    font-size: 16px;
    margin-bottom: 8px;
}

.vote-details .total-votes {
    font-weight: bold;
}
.addUserForm {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.userLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.userInput, .userSelect {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.userBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.userBtn:hover {
    background-color: #454ba0;
}

/* Opcjonalne style dla opcji w select */
.userOption {
    font-size: 14px;
}


.vote-details li{
   background-color: inherit;
    padding: initial;
}
